
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGroups.cshtml";
}
<script src="~/Scripts/JScript.js"></script>
<script src="~/Scripts/moment-2.2.1.js"></script>
<link href="~/Scripts/datatables/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/datatables/jquery.dataTables.js"></script>
<h2>Index</h2>

