@{
    ViewBag.Title = "Home Page";
}

<style>
    .colorwhite {
        color: white;
    }

    .carousel-caption {
        top: 25%;
        bottom: auto;
    }

</style>
<style>
    .colorwhite {
        color: white;
    }

    #home {
        background-color: #F09100;
        border-bottom: 15px solid #F09100;
        padding-bottom: 0px !important;
        margin-bottom: -10px;
        margin-top: -10px;
    }
</style>
<div class="container-fluid" style="background-color:white">
    <div class="row" style="border:1px solid red;min-height:100%;">
        <div class="col-lg-12" style="border:0px solid red;padding:0px;margin:0px;">
            <img class="img-fluid" src="~/images/Laiq/950size.png" style="min-height:70vh;" />
        </div>
    </div>
</div>