
@{
    ViewBag.Title = "CompleteProfile";
    Layout = "~/Views/Shared/_LayoutPofile.cshtml";
}

<div class="container-fluid" style="padding-top:0px;margin-top:0px;">
    <div class="row p-2">
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header">
                    Complete your Profile
                </div>
                <div class="card-body">
                    <div class="row">
                        <div>Please Enter your registration which you have recived in LaiQ confrimation email</div>
                    </div>
                    <div class="row">
                        <input type="text" name="RegistrationNo" class="form-control" id="RegNo" />
                    </div>
                    <div class="row">
                        <input type="submit" id="submit" class="btn btn-primary" value="Search" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-1">&nbsp;</div>
    </div>
</div>

